<div class="fixed-bottom">
    <nav class="bottom-bar" data-topbar ng-controller="MenubarCtrl">
        <ul class="left-area">
            <li class="divider">
                <span>loading...</span>
            </li>
        </ul>

        <section class="bottom-bar-section hide-for-small">
            <ul class="right">
                <li ng-repeat-start="menu in menus" class="divider"></li>

                <li ng-repeat-end>
                    <a href="#">Status</a>
                </li>
            </ul>
        </section>
    </nav>
</div>