<ul>
    <li>

        <a href="#/journal" class="custom_button">
            <img ng-src="{{ 'images/calendar.png' | absPath }}"/>
            Jurnal
        </a>
    </li>
    <li>
        <a href="#/book_of_bank" class="custom_button">
            <img ng-src="{{ 'images/calendar.png' | absPath }}"/>
            Buku Bank
        </a>
    </li>
    <li>
        <a href="#/inflow" class="custom_button">
            <img ng-src="{{ 'images/calendar.png' | absPath }}"/>
            Uang Masuk
        </a>
    </li>
    <li>
        <a href="#/outflow" class="custom_button">
            <img ng-src="{{ 'images/calendar.png' | absPath }}"/>
            Uang Keluar
        </a>
    </li>
    <li>
        <a href="#/reporting" class="custom_button">
            <img ng-src="{{ 'images/calendar.png' | absPath }}"/>
            Laporan
        </a>
    </li>
</ul>