button {
  min-width: 6em;
  cursor: pointer;
  line-height: normal;
  position: relative;
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: normal;
  text-align: center;
  background-color: #008cba;
  border: 0px;
  margin: 0 0 0 0;
  padding: 4px 8px;
  color: white;
  line-height: 1.5em;
  font-size: 0.75rem;
  font-weight: normal;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(66, 66, 66, 0.6);
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.2);
  font-smooth: always;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

html {
  font-size: 16px; }

body {
  background-color: #eeeeee;
  margin: 0 0 0 0; }

hr {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #dddddd; }

@media screen and (max-width: 640px) {
  .show-for-small {
    display: inherit !important; }

  .hide-for-small {
    display: none !important; }

  table.show-for-small, table.hide-for-medium, table.hide-for-large {
    display: table; }

  thead.show-for-small, thead.hide-for-medium, thead.hide-for-large {
    display: table-header-group !important; }

  tbody.show-for-small, tbody.hide-for-medium, tbody.hide-for-large {
    display: table-row-group !important; }

  tr.show-for-small, tr.hide-for-medium, tr.hide-for-large {
    display: table-row !important; }

  td.show-for-small, td.hide-for-medium, td.hide-for-large,
  th.show-for-small,
  th.hide-for-medium,
  th.hide-for-large {
    display: table-cell !important; } }
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .hide-for-medium {
    display: none !important; }

  .show-for-medium {
    display: inherited !important; }

  table.hide-for-small, table.show-for-medium, table.hide-for-large {
    display: table; }

  thead.hide-for-small, thead.show-for-medium, thead.hide-for-large {
    display: table-header-group !important; }

  tbody.hide-for-small, tbody.show-for-medium, tbody.hide-for-large {
    display: table-row-group !important; }

  tr.hide-for-small, tr.show-for-medium, tr.hide-for-large {
    display: table-row !important; }

  td.hide-for-small, td.show-for-medium, td.hide-for-large,
  th.hide-for-small,
  th.show-for-medium,
  th.hide-for-large {
    display: table-cell !important; } }
@media screen and (min-width: 1025px) {
  .show-for-large {
    display: inherit !important; }

  .hide-for-large {
    display: none !important; }

  table.hide-for-small, table.hide-for-medium, table.show-for-large {
    display: table; }

  thead.hide-for-small, thead.hide-for-medium, thead.show-for-large {
    display: table-header-group !important; }

  tbody.hide-for-small, tbody.hide-for-medium, tbody.show-for-large {
    display: table-row-group !important; }

  tr.hide-for-small, tr.hide-for-medium, tr.show-for-large {
    display: table-row !important; }

  td.hide-for-small, td.hide-for-medium, td.show-for-large,
  th.hide-for-small,
  th.hide-for-medium,
  th.show-for-large {
    display: table-cell !important; } }
.bottombar {
  background: #262626;
  width: 100%;
  color: white;
  font-size: 0.75em;
  line-height: 1.5rem; }
  .bottombar.fixed {
    position: fixed;
    bottom: 0; }
  @media screen and (max-width: 640px) {
    .bottombar {
      display: none; } }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    .bottombar {
      display: inline-block; } }
  @media screen and (min-width: 1025px) {
    .bottombar {
      display: inline-block; } }

button.radius {
  border-radius: 0.3em; }
button.small {
  font-size: 0.75rem; }
button.medium {
  font-size: 0.9rem; }
button.large {
  font-size: 1rem; }
button:focus, button:hover {
  background-color: #0080ab;
  box-shadow: 0px 1px 8px #aaaaaa; }
button:active {
  background-color: #00698c;
  text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.6); }
button.ok {
  background-color: #377d4d; }
  button.ok:focus, button.ok:hover {
    background-color: #327246;
    box-shadow: 0px 1px 8px #aaaaaa; }
  button.ok:active {
    background-color: #295d39; }
button.cancel {
  background-color: #b81c44; }
  button.cancel:focus, button.cancel:hover {
    background-color: #ab1a3f;
    box-shadow: 0px 1px 8px #aaaaaa; }
  button.cancel:active {
    background-color: #901635; }
button.important {
  background-color: #dbaf55; }
  button.important:focus, button.important:hover {
    background-color: #d8a948;
    box-shadow: 0px 1px 8px #aaaaaa; }
  button.important:active {
    background-color: #d39d2f; }

.content {
  background: transparent;
  font-size: 0.75rem;
  padding: 0em 0em 0em 0em;
  position: relative;
  display: block;
  border: 0px solid red;
  margin-top: 37px;
  margin-right: 0; }
  .content h1 {
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0.25rem 0 0.25rem 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    background: #cccccc;
    color: white;
    text-shadow: 0px 1px 4px #999999; }
  .content > div {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem; }
  @media screen and (max-width: 640px) {
    .content {
      margin-left: 2em; } }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    .content {
      margin-left: 12em; } }
  @media screen and (min-width: 1025px) {
    .content {
      margin-left: 12em; } }

form {
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

label {
  font-size: 1.1em;
  color: #888888;
  padding: 0.5em 0.1em 0.1em 0.25em; }
  label.left {
    float: left; }
  label.right {
    float: right; }
  label.error {
    color: #b81c44; }

textarea, select, input[type=text] {
  display: inline-block;
  box-shadow: inset 0px 0px 12px #dddddd;
  border: 1px solid #cccccc;
  padding: 0.25em 0.25em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
  width: 100%;
  border-radius: 0;
  line-height: 1.5em;
  inset: 0 1px 4px rgba(0, 0, 0, 0.1);
  outline: none; }
  textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder {
    color: #cccccc; }
  textarea:-moz-placeholder, select:-moz-placeholder, input[type=text]:-moz-placeholder {
    color: #cccccc; }
  textarea::-moz-placeholder, select::-moz-placeholder, input[type=text]::-moz-placeholder {
    color: #cccccc; }
  textarea:-ms-input-placeholder, select:-ms-input-placeholder, input[type=text]:-ms-input-placeholder {
    color: #cccccc; }
  textarea:focus, select:focus, input[type=text]:focus {
    border-color: #b3b3b3;
    box-shadow: 0px 0px 6px rgba(84, 137, 168, 0.5);
    border-color: #008cba;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
  textarea:hover, select:hover, input[type=text]:hover {
    box-shadow: 0px 0px 6px rgba(84, 137, 168, 0.5);
    border-color: #008cba;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
  textarea:disabled, select:disabled, input[type=text]:disabled {
    background: #e5e5e5;
    color: #bbbbbb;
    text-shadow: 0px 1px 2px #eeeeee; }

select {
  width: auto;
  padding: 0.1em 0.1em; }

input[type=radio] {
  vertical-align: top;
  margin: 0.25em 0.25em 0em 0.25em;
  outline: none; }
  input[type=radio]:focus {
    box-shadow: inset 0px 0px 6px rgba(84, 137, 168, 0.5); }
  input[type=radio]:focus + label {
    color: #008cba; }
  input[type=radio]:disabled {
    text-shadow: 0px 1px 2px #eeeeee; }
    input[type=radio]:disabled + label {
      color: #bbbbbb; }
      input[type=radio]:disabled + label:hover {
        color: #bbbbbb; }
  input[type=radio] + label {
    vertical-align: bottom; }
    input[type=radio] + label:hover {
      color: #008cba; }

input[type=checkbox] {
  vertical-align: top;
  margin: 0.25em 0.25em 0em 0.25em;
  outline: none; }
  input[type=checkbox]:focus {
    box-shadow: inset 0px 0px 6px rgba(84, 137, 168, 0.5); }
  input[type=checkbox]:focus + label {
    color: #008cba; }
  input[type=checkbox]:disabled {
    text-shadow: 0px 1px 2px #eeeeee; }
    input[type=checkbox]:disabled + label {
      color: #bbbbbb; }
      input[type=checkbox]:disabled + label:hover {
        color: #bbbbbb; }
  input[type=checkbox] + label {
    vertical-align: bottom; }
    input[type=checkbox] + label:hover {
      color: #008cba; }

div.input-group {
  border: 1px solid #cccccc;
  position: relative;
  display: table; }
  div.input-group > span.add-on {
    background: #dddddd;
    display: table-cell;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: none;
    border-right: 1px solid #cccccc; }
  div.input-group input[type=text] {
    border: none;
    display: table-cell; }
    div.input-group input[type=text]:after {
      content: "&nbsp;"; }
    div.input-group input[type=text]:after {
      content: "&nbsp;"; }
  div.input-group input[type=text] + span.add-on {
    display: table-cell;
    border: none;
    background: #dddddd;
    border-left: 1px solid #cccccc; }
  div.input-group.input-group-small input[type=text] {
    width: 7rem; }
  div.input-group.input-group-medium input[type=text] {
    width: 14rem; }
  div.input-group.input-group-large input[type=text] {
    width: 25rem; }

span.error {
  color: #dd6666; }

nav.dropdown {
  height: 100%;
  background: #333333;
  border: none;
  margin: 0 0;
  padding: 0 0;
  font-size: 0.75rem;
  font-weight: normal;
  float: left; }
  nav.dropdown.right {
    float: right; }
  nav.dropdown > ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    display: block; }
    nav.dropdown > ul > li {
      float: left;
      padding: 0px 0px 0px 0px;
      -webkit-transition: background, 300ms, ease-out;
      -moz-transition: background, 300ms, ease-out;
      transition: background, 300ms, ease-out; }
      nav.dropdown > ul > li.divider {
        width: 1px;
        border-bottom: none;
        border-top: none;
        border-right: solid 1px #3a0805;
        clear: none;
        line-height: 2rem;
        height: 100%; }
      nav.dropdown > ul > li.button {
        margin: 0.4em 0.5em 0.25em 0.5em; }
      nav.dropdown > ul > li a {
        color: #cccccc;
        display: block;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-color: #cccccc;
        font-weight: normal;
        line-height: 2rem;
        margin: 0;
        text-align: left;
        text-decoration: none;
        outline: none;
        padding: 0.2em 1em 0.2em 1em; }
      nav.dropdown > ul > li ul {
        list-style: none;
        margin: 0 0;
        padding: 0 0;
        display: block;
        opacity: 1;
        display: none;
        background-color: #99140c;
        position: absolute; }
      nav.dropdown > ul > li:hover {
        background-color: #99140c; }
        nav.dropdown > ul > li:hover a {
          color: #cccccc;
          display: block;
          font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
          font-color: #cccccc;
          font-weight: normal;
          line-height: 2rem;
          margin: 0;
          text-align: left;
          text-decoration: none;
          outline: none;
          padding: 0.2em 1em 0.2em 1em; }
          nav.dropdown > ul > li:hover a:hover {
            z-index: 9999;
            -webkit-transition: background, 300ms, ease-out;
            -moz-transition: background, 300ms, ease-out;
            transition: background, 300ms, ease-out; }
        nav.dropdown > ul > li:hover ul {
          opacity: 1;
          display: block;
          background-color: #99140c;
          position: absolute; }
          nav.dropdown > ul > li:hover ul li {
            background-color: #99140c;
            display: block;
            float: none;
            margin: 0px;
            padding: 0px;
            -webkit-transition: background, 300ms, ease-in;
            -moz-transition: background, 300ms, ease-in;
            transition: background, 300ms, ease-in; }
            nav.dropdown > ul > li:hover ul li:hover {
              background: #81110a;
              -webkit-transition: background, 400ms, ease-out;
              -moz-transition: background, 400ms, ease-out;
              transition: background, 400ms, ease-out; }

@media screen and (max-width: 640px) {
  .form-grid .row {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    margin: 0.5em 0 0.5em 0;
    zoom: 1; }
    .form-grid .row:before, .form-grid .row:after {
      content: "";
      display: table; }
    .form-grid .row:after {
      clear: both; }
    .form-grid .row .column {
      display: inline-block;
      position: relative;
      margin: 0px 0px 0px 0px !important;
      float: left;
      padding-right: 0.5em; }
      .form-grid .row .column:last-child {
        padding-right: 0;
        float: right; }
      .form-grid .row .column.end {
        float: left; }
      .form-grid .row .column.small-1 {
        width: 8.33333%; }
      .form-grid .row .column.small-2 {
        width: 16.66667%; }
      .form-grid .row .column.small-3 {
        width: 25%; }
      .form-grid .row .column.small-4 {
        width: 33.33333%; }
      .form-grid .row .column.small-5 {
        width: 41.66667%; }
      .form-grid .row .column.small-6 {
        width: 50%; }
      .form-grid .row .column.small-7 {
        width: 58.33333%; }
      .form-grid .row .column.small-8 {
        width: 66.66667%; }
      .form-grid .row .column.small-9 {
        width: 75%; }
      .form-grid .row .column.small-10 {
        width: 83.33333%; }
      .form-grid .row .column.small-11 {
        width: 91.66667%; }
      .form-grid .row .column.small-12 {
        width: 100%; } }
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .form-grid .row {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    margin: 0.5em 0 0.5em 0;
    zoom: 1; }
    .form-grid .row:before, .form-grid .row:after {
      content: "";
      display: table; }
    .form-grid .row:after {
      clear: both; }
    .form-grid .row .column {
      display: inline-block;
      position: relative;
      margin: 0px 0px 0px 0px !important;
      float: left;
      padding-right: 0.5em; }
      .form-grid .row .column:last-child {
        padding-right: 0;
        float: right; }
      .form-grid .row .column.end {
        float: left; }
      .form-grid .row .column.medium-1 {
        width: 8.33333%; }
      .form-grid .row .column.medium-2 {
        width: 16.66667%; }
      .form-grid .row .column.medium-3 {
        width: 25%; }
      .form-grid .row .column.medium-4 {
        width: 33.33333%; }
      .form-grid .row .column.medium-5 {
        width: 41.66667%; }
      .form-grid .row .column.medium-6 {
        width: 50%; }
      .form-grid .row .column.medium-7 {
        width: 58.33333%; }
      .form-grid .row .column.medium-8 {
        width: 66.66667%; }
      .form-grid .row .column.medium-9 {
        width: 75%; }
      .form-grid .row .column.medium-10 {
        width: 83.33333%; }
      .form-grid .row .column.medium-11 {
        width: 91.66667%; }
      .form-grid .row .column.medium-12 {
        width: 100%; } }
@media screen and (min-width: 1025px) {
  .form-grid .row {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    margin: 0.5em 0 0.5em 0;
    zoom: 1; }
    .form-grid .row:before, .form-grid .row:after {
      content: "";
      display: table; }
    .form-grid .row:after {
      clear: both; }
    .form-grid .row .column {
      display: inline-block;
      position: relative;
      margin: 0px 0px 0px 0px !important;
      float: left;
      padding-right: 0.5em; }
      .form-grid .row .column:last-child {
        padding-right: 0;
        float: right; }
      .form-grid .row .column.end {
        float: left; }
      .form-grid .row .column.large-1 {
        width: 8.33333%; }
      .form-grid .row .column.large-2 {
        width: 16.66667%; }
      .form-grid .row .column.large-3 {
        width: 25%; }
      .form-grid .row .column.large-4 {
        width: 33.33333%; }
      .form-grid .row .column.large-5 {
        width: 41.66667%; }
      .form-grid .row .column.large-6 {
        width: 50%; }
      .form-grid .row .column.large-7 {
        width: 58.33333%; }
      .form-grid .row .column.large-8 {
        width: 66.66667%; }
      .form-grid .row .column.large-9 {
        width: 75%; }
      .form-grid .row .column.large-10 {
        width: 83.33333%; }
      .form-grid .row .column.large-11 {
        width: 91.66667%; }
      .form-grid .row .column.large-12 {
        width: 100%; } }
@media screen and (max-width: 640px) {
  .grid .row {
    width: 100%;
    padding: 0%;
    display: block;
    margin: 0rem 0rem 0.25rem 0rem;
    zoom: 1; }
    .grid .row:before, .grid .row:after {
      content: "";
      display: table; }
    .grid .row:after {
      clear: both; }
    .grid .row .column {
      display: inline-block;
      position: relative;
      margin: 0px 0px 0px 0px !important;
      float: left;
      padding-right: 0.5em; }
      .grid .row .column:last-child {
        padding-right: 0;
        float: right; }
      .grid .row .column.end {
        float: left; }
      .grid .row .column.small-1 {
        width: 8.33333%; }
      .grid .row .column.small-2 {
        width: 16.66667%; }
      .grid .row .column.small-3 {
        width: 25%; }
      .grid .row .column.small-4 {
        width: 33.33333%; }
      .grid .row .column.small-5 {
        width: 41.66667%; }
      .grid .row .column.small-6 {
        width: 50%; }
      .grid .row .column.small-7 {
        width: 58.33333%; }
      .grid .row .column.small-8 {
        width: 66.66667%; }
      .grid .row .column.small-9 {
        width: 75%; }
      .grid .row .column.small-10 {
        width: 83.33333%; }
      .grid .row .column.small-11 {
        width: 91.66667%; }
      .grid .row .column.small-12 {
        width: 100%; } }
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .grid .row {
    width: 100%;
    padding: 0%;
    display: block;
    margin: 0rem 0rem 0.25rem 0rem;
    zoom: 1; }
    .grid .row:before, .grid .row:after {
      content: "";
      display: table; }
    .grid .row:after {
      clear: both; }
    .grid .row .column {
      display: inline-block;
      position: relative;
      margin: 0px 0px 0px 0px !important;
      float: left;
      padding-right: 0.5em; }
      .grid .row .column:last-child {
        padding-right: 0;
        float: right; }
      .grid .row .column.end {
        float: left; }
      .grid .row .column.medium-1 {
        width: 8.33333%; }
      .grid .row .column.medium-2 {
        width: 16.66667%; }
      .grid .row .column.medium-3 {
        width: 25%; }
      .grid .row .column.medium-4 {
        width: 33.33333%; }
      .grid .row .column.medium-5 {
        width: 41.66667%; }
      .grid .row .column.medium-6 {
        width: 50%; }
      .grid .row .column.medium-7 {
        width: 58.33333%; }
      .grid .row .column.medium-8 {
        width: 66.66667%; }
      .grid .row .column.medium-9 {
        width: 75%; }
      .grid .row .column.medium-10 {
        width: 83.33333%; }
      .grid .row .column.medium-11 {
        width: 91.66667%; }
      .grid .row .column.medium-12 {
        width: 100%; } }
@media screen and (min-width: 1025px) {
  .grid .row {
    width: 100%;
    padding: 0%;
    display: block;
    margin: 0rem 0rem 0.25rem 0rem;
    zoom: 1; }
    .grid .row:before, .grid .row:after {
      content: "";
      display: table; }
    .grid .row:after {
      clear: both; }
    .grid .row .column {
      display: inline-block;
      position: relative;
      margin: 0px 0px 0px 0px !important;
      float: left;
      padding-right: 0.5em; }
      .grid .row .column:last-child {
        padding-right: 0;
        float: right; }
      .grid .row .column.end {
        float: left; }
      .grid .row .column.large-1 {
        width: 8.33333%; }
      .grid .row .column.large-2 {
        width: 16.66667%; }
      .grid .row .column.large-3 {
        width: 25%; }
      .grid .row .column.large-4 {
        width: 33.33333%; }
      .grid .row .column.large-5 {
        width: 41.66667%; }
      .grid .row .column.large-6 {
        width: 50%; }
      .grid .row .column.large-7 {
        width: 58.33333%; }
      .grid .row .column.large-8 {
        width: 66.66667%; }
      .grid .row .column.large-9 {
        width: 75%; }
      .grid .row .column.large-10 {
        width: 83.33333%; }
      .grid .row .column.large-11 {
        width: 91.66667%; }
      .grid .row .column.large-12 {
        width: 100%; } }
.spacer {
  zoom: 1; }
  .spacer:before, .spacer:after {
    content: "";
    display: table; }
  .spacer:after {
    clear: both; }
  .spacer.horizontal {
    display: inline-block;
    height: 100%; }
    .spacer.horizontal.tiny {
      width: 0.25em; }
    .spacer.horizontal.small {
      width: 0.5em; }
    .spacer.horizontal.medium {
      width: 1em; }
  .spacer.vertical {
    display: block;
    width: 100%; }
    .spacer.vertical.tiny {
      height: 0.25em; }
    .spacer.vertical.small {
      height: 0.5em; }
    .spacer.vertical.medium {
      height: 1em; }

.pagination {
  background-color: transparent;
  margin: 0 0;
  padding: 0 0;
  display: inline-block;
  background: transparent; }
  .pagination li {
    display: inline-block;
    margin-left: 0em;
    margin-right: 0em;
    padding: 0em 0em;
    float: left; }
    .pagination li a {
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 0.9em;
      color: white;
      padding: 0.1em 0.5em;
      line-height: 1.5em;
      text-decoration: none;
      display: block;
      background-color: #aaaaaa;
      cursor: default; }
      .pagination li a:hover {
        background-color: #909090;
        color: white; }
      .pagination li a.current {
        background-color: #b81c44; }
    .pagination li:first-child a {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em; }
    .pagination li:last-child a {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      border-right: 1px solid transparent; }
  .pagination.radius li {
    border-radius: 0.5rem; }

.panel, .toolbar {
  padding: 0 0;
  color: #333333; }
  .panel.bordered, .toolbar.bordered {
    border: 1px solid #e0e0e0; }
  .panel.radius, .toolbar.radius {
    border-radius: 0.5rem; }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .toolbar h1, .toolbar h2, .toolbar h3, .toolbar h4, .toolbar h5, .toolbar h6 {
    margin: 0 0 0 0; }
  .panel h1, .toolbar h1 {
    font-size: 1.5em; }

.panel {
  background: #f9f9f9; }

.toolbar {
  background-color: #eeeeee; }

.pushbutton {
  background-color: transparent;
  margin: 0 0;
  padding: 0 0;
  display: inline-block;
  background: transparent; }
  .pushbutton li {
    display: inline-block;
    margin-left: 0em;
    margin-right: 0em;
    padding: 0em 0em;
    float: left; }
    .pushbutton li a {
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 0.9em;
      color: white;
      padding: 0.1em 0.5em;
      line-height: 1.5em;
      text-decoration: none;
      display: block;
      background-color: #888888;
      cursor: default; }
      .pushbutton li a:hover {
        background-color: #6f6f6f;
        color: white; }
      .pushbutton li a.current {
        background-color: #555555; }
    .pushbutton li:first-child a {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em; }
    .pushbutton li:last-child a {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      border-right: 1px solid transparent; }
  .pushbutton.radius li {
    border-radius: 0.5rem; }

table {
  background: white;
  margin-bottom: 0 0 0 0;
  border: 1px solid #eeeeee; }
  table thead tr th, table thead tr td {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0.5em 0.5em;
    font-size: 0.75em;
    font-weight: bold;
    color: #555555;
    cursor: default;
    text-align: left;
    text-shadow: 1px 1px 2px #eeeeee; }
    table thead tr th img, table thead tr td img {
      float: right; }
    table thead tr th:nth-child(odd), table thead tr td:nth-child(odd) {
      background-color: #c4d7de;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4d7de), color-stop(100%, #d4e2e7));
      background-image: -webkit-linear-gradient(top, #c4d7de, #d4e2e7);
      background-image: linear-gradient(to bottom,#c4d7de, #d4e2e7); }
    table thead tr th:nth-child(even), table thead tr td:nth-child(even) {
      background-color: #bad0d8;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bad0d8), color-stop(100%, #c7d9e0));
      background-image: -webkit-linear-gradient(top, #bad0d8, #c7d9e0);
      background-image: linear-gradient(to bottom,#bad0d8, #c7d9e0); }
  table tbody tr td {
    cursor: default;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0.75em 0.5em;
    font-size: 0.9em;
    color: #333333;
    background-color: #f3f5f6;
    border-bottom: 1px solid #ebf1f4;
    text-shadow: 0px 0px 5px #eeeeee; }
  table tbody tr:hover td {
    color: #69574e;
    background: #e0d9d6; }

table.zebra tbody tr:nth-child(odd) td {
  -webkit-transition: background 300ms ease-in;
  -moz-transition: background 300ms ease-in;
  transition: background 300ms ease-in; }
  table.zebra tbody tr:nth-child(odd) td:nth-child(even) {
    background: #edf0f2; }
  table.zebra tbody tr:nth-child(odd) td:nth-child(odd) {
    background: #e7ebed; }
table.zebra tbody tr:nth-child(odd).selected td {
  color: #003300; }
  table.zebra tbody tr:nth-child(odd).selected td:nth-child(even) {
    background: #faf9f9; }
  table.zebra tbody tr:nth-child(odd).selected td:nth-child(odd) {
    background: white; }
table.zebra tbody tr:nth-child(odd):hover td:nth-child(even) {
  background: #dad1cd; }
table.zebra tbody tr:nth-child(odd):hover td:nth-child(odd) {
  background: #d5ccc7; }
table.zebra tbody tr:nth-child(even) td:nth-child(even) {
  background: #e2e6e9; }
table.zebra tbody tr:nth-child(even) td:nth-child(odd) {
  background: #dce2e5; }
table.zebra tbody tr:nth-child(even).selected td:nth-child(even) {
  background: #e9e4e2; }
table.zebra tbody tr:nth-child(even).selected td:nth-child(odd) {
  background: #e5dfdc; }
table.zebra tbody tr:nth-child(even):hover td:nth-child(even) {
  background: #d3c9c4; }
table.zebra tbody tr:nth-child(even):hover td:nth-child(odd) {
  background: #cfc4bf; }

table thead tr td.indicator, table thead tr th.indicator, table tbody tr td.indicator, table tbody tr th.indicator, table tfoot tr td.indicator, table tfoot tr th.indicator, table.zebra thead tr td.indicator, table.zebra thead tr th.indicator, table.zebra tbody tr td.indicator, table.zebra tbody tr th.indicator, table.zebra tfoot tr td.indicator, table.zebra tfoot tr th.indicator {
  border: none;
  background: #f5f8f9 !important;
  width: 0.3rem !important;
  padding: 0 0.25rem 0 0.25rem !important; }
  table thead tr td.indicator span, table thead tr th.indicator span, table tbody tr td.indicator span, table tbody tr th.indicator span, table tfoot tr td.indicator span, table tfoot tr th.indicator span, table.zebra thead tr td.indicator span, table.zebra thead tr th.indicator span, table.zebra tbody tr td.indicator span, table.zebra tbody tr th.indicator span, table.zebra tfoot tr td.indicator span, table.zebra tfoot tr th.indicator span {
    display: block;
    height: 0.3rem;
    width: 0.3rem;
    position: relative;
    background: transparent;
    margin: 0 0 2px 0;
    margin-bottom: 1px;
    border-radius: 0.15rem;
    box-shadow: 0px 0px 1px white; }
    table thead tr td.indicator span.primary, table thead tr th.indicator span.primary, table tbody tr td.indicator span.primary, table tbody tr th.indicator span.primary, table tfoot tr td.indicator span.primary, table tfoot tr th.indicator span.primary, table.zebra thead tr td.indicator span.primary, table.zebra thead tr th.indicator span.primary, table.zebra tbody tr td.indicator span.primary, table.zebra tbody tr th.indicator span.primary, table.zebra tfoot tr td.indicator span.primary, table.zebra tfoot tr th.indicator span.primary {
      background: #008cba; }
    table thead tr td.indicator span.important, table thead tr th.indicator span.important, table tbody tr td.indicator span.important, table tbody tr th.indicator span.important, table tfoot tr td.indicator span.important, table tfoot tr th.indicator span.important, table.zebra thead tr td.indicator span.important, table.zebra thead tr th.indicator span.important, table.zebra tbody tr td.indicator span.important, table.zebra tbody tr th.indicator span.important, table.zebra tfoot tr td.indicator span.important, table.zebra tfoot tr th.indicator span.important {
      background: #dbaf55; }
    table thead tr td.indicator span.ok, table thead tr th.indicator span.ok, table tbody tr td.indicator span.ok, table tbody tr th.indicator span.ok, table tfoot tr td.indicator span.ok, table tfoot tr th.indicator span.ok, table.zebra thead tr td.indicator span.ok, table.zebra thead tr th.indicator span.ok, table.zebra tbody tr td.indicator span.ok, table.zebra tbody tr th.indicator span.ok, table.zebra tfoot tr td.indicator span.ok, table.zebra tfoot tr th.indicator span.ok {
      background: #377d4d; }
    table thead tr td.indicator span.cancel, table thead tr th.indicator span.cancel, table tbody tr td.indicator span.cancel, table tbody tr th.indicator span.cancel, table tfoot tr td.indicator span.cancel, table tfoot tr th.indicator span.cancel, table.zebra thead tr td.indicator span.cancel, table.zebra thead tr th.indicator span.cancel, table.zebra tbody tr td.indicator span.cancel, table.zebra tbody tr th.indicator span.cancel, table.zebra tfoot tr td.indicator span.cancel, table.zebra tfoot tr th.indicator span.cancel {
      background: #b81c44; }

.sidebar {
  border-left: 3px solid #333333;
  background: gray;
  color: white;
  font-size: 0.75em;
  padding: 0.4em 0.4em;
  display: inline-block;
  box-shadow: 4px 0px 16px #dddddd; }
  @media screen and (max-width: 640px) {
    .sidebar {
      width: 2em;
      bottom: 0; } }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    .sidebar {
      width: 12em;
      bottom: 1.5rem; } }
  @media screen and (min-width: 1025px) {
    .sidebar {
      width: 12em;
      bottom: 1.5rem; } }
  .sidebar.fixed {
    position: fixed;
    top: 37px; }
  .sidebar ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0; }
    .sidebar ul li {
      display: block;
      margin: 0 0;
      padding: 0 0;
      margin-bottom: 0.25em; }
      .sidebar ul li a {
        display: block;
        padding: 0.75em 0.1em 0.75em 0.1em;
        text-decoration: none;
        color: #dddddd;
        border-radius: 0.5em; }
        .sidebar ul li a:hover {
          background: #b81c44;
          color: white;
          box-shadow: inset 0px 0px 8px rgba(136, 136, 136, 0.5); }
        .sidebar ul li a img {
          padding: 0em 0em;
          float: left;
          margin-left: 0.25em;
          margin-right: 0.75em; }

.topbar {
  z-index: 9999;
  background: #333333;
  width: 100%;
  color: white;
  box-shadow: 0px 0px 6px #666666;
  padding: 0 0 0 0; }
  .topbar.fixed {
    position: fixed;
    top: 0; }
  .topbar section {
    padding: 0 0 0 0;
    float: left;
    display: block; }
    .topbar section.right {
      margin-right: 0;
      margin-left: auto;
      float: right; }

.bottombar {
  background: #262626;
  width: 100%;
  color: white;
  font-size: 0.75em;
  line-height: 1.5rem; }
  .bottombar.fixed {
    position: fixed;
    bottom: 0; }
  @media screen and (max-width: 640px) {
    .bottombar {
      display: none; } }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    .bottombar {
      display: inline-block; } }
  @media screen and (min-width: 1025px) {
    .bottombar {
      display: inline-block; } }
