.anim-fade.ng-show, .anim-fade.ng-hide, .anim-fade.ng-move {
  -webkit-transition: 1000ms linear all;
  transition: 1000ms linear all; }
.anim-fade.ng-show {
  opacity: 0; }
  .anim-fade.ng-show.ng-enter-active {
    opacity: 1; }
.anim-fade.ng-hide {
  opacity: 0; }
  .anim-fade.ng-hide.ng-leave-active {
    opacity: 1; }
.anim-fade.ng-move {
  opacity: 1; }
  .anim-fade.ng-move.ng-move-active {
    opacity: 1; }

.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: 200ms linear all;
  -moz-transition: 200ms linear all;
  -ms-transition: 200ms linear all;
  -o-transition: 200ms linear all;
  transition: 200ms linear all; }
.slide.ng-enter {
  transform: translateY(-100%);
  opacity: 0.5; }
  .slide.ng-enter.ng-enter-active {
    transform: translateY(0%);
    opacity: 1; }
.slide.ng-leave {
  transform: translateY(100%);
  opacity: 0; }
  .slide.ng-leave.ng-leave-active {
    transform: translateY(100%);
    display: none; }
