@import "settings"

// tooltip
$include-html-tooltip-classes: $include-html-classes

// toltip customize
$has-tip-border-bottom: none
$has-tip-font-weight: normal
$has-tip-font-color: #333
$has-tip-border-bottom-hover: none
//solid 1px darken($primary-color, 20%)
$has-tip-font-color-hover: $primary-color
$has-tip-cursor-type: default

$tooltip-padding: rem-calc(6)
$tooltip-bg: #333
$tooltip-font-size: rem-calc(11)
$tooltip-font-weight: normal
$tooltip-font-color: #fff
$tooltip-line-height: 1.3
$tooltip-close-font-size: rem-calc(6)
$tooltip-close-font-weight: normal
$tooltip-close-font-color: #888
$tooltip-font-size-sml: rem-calc(6)
$tooltip-radius: $global-radius
$tooltip-pip-size: 5px

//

@import "../bower_components/foundation/scss/foundation/components/accordion"
@import "../bower_components/foundation/scss/foundation/components/alert-boxes"
@import "../bower_components/foundation/scss/foundation/components/block-grid"
@import "../bower_components/foundation/scss/foundation/components/breadcrumbs"
@import "../bower_components/foundation/scss/foundation/components/button-groups"
@import "../bower_components/foundation/scss/foundation/components/buttons"
@import "../bower_components/foundation/scss/foundation/components/clearing"
@import "../bower_components/foundation/scss/foundation/components/dropdown"
@import "../bower_components/foundation/scss/foundation/components/dropdown-buttons"
@import "../bower_components/foundation/scss/foundation/components/flex-video"
@import "../bower_components/foundation/scss/foundation/components/forms"
@import "../bower_components/foundation/scss/foundation/components/grid"
@import "../bower_components/foundation/scss/foundation/components/inline-lists"
@import "../bower_components/foundation/scss/foundation/components/joyride"
@import "../bower_components/foundation/scss/foundation/components/keystrokes"
@import "../bower_components/foundation/scss/foundation/components/labels"
@import "../bower_components/foundation/scss/foundation/components/magellan"
@import "../bower_components/foundation/scss/foundation/components/orbit"
@import "../bower_components/foundation/scss/foundation/components/pagination"
@import "../bower_components/foundation/scss/foundation/components/panels"
@import "../bower_components/foundation/scss/foundation/components/pricing-tables"
@import "../bower_components/foundation/scss/foundation/components/progress-bars"
@import "../bower_components/foundation/scss/foundation/components/reveal"
@import "../bower_components/foundation/scss/foundation/components/side-nav"
@import "../bower_components/foundation/scss/foundation/components/split-buttons"
@import "../bower_components/foundation/scss/foundation/components/sub-nav"
@import "../bower_components/foundation/scss/foundation/components/switch"
@import "../bower_components/foundation/scss/foundation/components/tables"
@import "../bower_components/foundation/scss/foundation/components/tabs"
@import "../bower_components/foundation/scss/foundation/components/thumbs"
@import "../bower_components/foundation/scss/foundation/components/tooltips"
@import "../bower_components/foundation/scss/foundation/components/offcanvas"
@import "../bower_components/foundation/scss/foundation/components/visibility"






