@charset "UTF-8"

@import "../bower_components/foundation/scss/foundation/functions"
@import "custom/setting"

@import "../bower_components/foundation/scss/foundation/components/global"
@import "../bower_components/foundation/scss/foundation/components/grid"

@import "../bower_components/foundation/scss/foundation/components/accordion"
@import "../bower_components/foundation/scss/foundation/components/alert-boxes"
@import "../bower_components/foundation/scss/foundation/components/block-grid"
@import "../bower_components/foundation/scss/foundation/components/breadcrumbs"
@import "../bower_components/foundation/scss/foundation/components/button-groups"
@import "../bower_components/foundation/scss/foundation/components/buttons"
@import "../bower_components/foundation/scss/foundation/components/clearing"
@import "../bower_components/foundation/scss/foundation/components/dropdown"
@import "../bower_components/foundation/scss/foundation/components/dropdown-buttons"
@import "../bower_components/foundation/scss/foundation/components/flex-video"
@import "../bower_components/foundation/scss/foundation/components/forms"
@import "../bower_components/foundation/scss/foundation/components/grid"
@import "../bower_components/foundation/scss/foundation/components/inline-lists"
@import "../bower_components/foundation/scss/foundation/components/joyride"
@import "../bower_components/foundation/scss/foundation/components/keystrokes"
@import "../bower_components/foundation/scss/foundation/components/labels"
@import "../bower_components/foundation/scss/foundation/components/magellan"
@import "../bower_components/foundation/scss/foundation/components/orbit"
@import "../bower_components/foundation/scss/foundation/components/pagination"
@import "../bower_components/foundation/scss/foundation/components/panels"
//@import "../bower_components/foundation/scss/foundation/components/pricing-tables"
@import "../bower_components/foundation/scss/foundation/components/progress-bars"
@import "../bower_components/foundation/scss/foundation/components/reveal"
@import "../bower_components/foundation/scss/foundation/components/side-nav"
@import "../bower_components/foundation/scss/foundation/components/split-buttons"
@import "../bower_components/foundation/scss/foundation/components/sub-nav"
@import "../bower_components/foundation/scss/foundation/components/switch"
@import "../bower_components/foundation/scss/foundation/components/tables"
@import "../bower_components/foundation/scss/foundation/components/tabs"
@import "../bower_components/foundation/scss/foundation/components/thumbs"
@import "../bower_components/foundation/scss/foundation/components/tooltips"
@import "../bower_components/foundation/scss/foundation/components/offcanvas"
@import "../bower_components/foundation/scss/foundation/components/visibility"

// custom

@import "custom/components/_bottombar"
@import "custom/table"
@import "custom/components/_pagination"

.container
  width: 100%
  max-width: 100%
  padding: 0px 0px 0px 0px
  margin: 0px 0px 0px 0px
  position: absolute
  top: 0px
  box-sizing: border-box

  .row-custom
    @mixin row
      margin-top: 0px
      width: 100%
      max-width: 100%

  .content
    padding: 0px 0px !important
    border: 0px solid #FF0000
    h1
      margin: 0px 0px 0px 0px
      padding: 2px 4px 4px 4px
      background-color: #888

      color: #FFF
      font-size: 1em

    > .main
      padding: 0 0.5rem

.sidebar
  background: lighten($bottombar-bg, 50)
  position: fixed !important
  padding: 0px
  z-index: 100

  .title
    background: $bottombar-bg
    display: block
    margin: 0px 0px 0px 0px
    padding: 4px 4px 4px 4px
    border-bottom: 0px solid #990000
    span
      color: #FFF
      font-size: 1em

  a.custom_button
    @include button($button-med, desaturate(darken($primary-color, 15), 20%), true, false, false, false, false)
    margin: 0px 0px 0px 0px
    text-align: left
    border-left: 0px solid #000
    display: block
    text-shadow: 0px 0px 4px #666
    font-size: 0.75em
    border-radius: 0px
    -webkit-transition: background-color 300ms ease-out
    -moz-transition: background-color 300ms ease-out
    transition: background-color 300ms ease-out

    &:hover
      background-color: desaturate(lighten($primary-color, 5), 20%)
      -webkit-transition: background-color 200ms ease-out
      -moz-transition: background-color 200ms ease-out
      transition: background-color 200ms ease-out

    &:focus
      background-color: desaturate(darken($primary-color, 25), 20%)

    &:first-child
      margin-top: 12px

.bottombar
  @include bottombar